version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    groups:
      go-openapi:
        applies-to: version-updates
        patterns:
          - '*/go-openapi/*'
