name: test
on:
  pull_request: {}
  push:
    branches:
      - main
      - master

# Set default permissions to read-only for contents
permissions:
  contents: read

jobs:
  check-drift:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
          with:
            persist-credentials: false
        - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
          with:
              go-version: 1.21
        - run: make generate-client
        - name: Check diff
          run: |
              git diff --exit-code
  lint: 
    name: golangci-lint
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - run: make golangci-lint # Using the makefile to have the same command in CI and locally
